Inspect

In [15]:
csv_path = "prediction_results.csv"

In [7]:
import pandas as pd
from tabulate import tabulate
from IPython.display import display

def display_incorrect_answers(csv_path):
    df = pd.read_csv(csv_path)
    
    incorrect_answers = df[df['Predicted Answer'] != df['Correct Answer']]
    
    max_rows = 300  # Adjust as needed
    incorrect_answers_limited = incorrect_answers[['Question', 'Predicted Answer', 'Correct Answer']].head(max_rows)
    
    display(pd.DataFrame(incorrect_answers_limited))
    
    if len(incorrect_answers) > max_rows:
        print(f"\nShowing first {max_rows} rows out of {len(incorrect_answers)} incorrect answers.")
    
    total_questions = len(df)
    incorrect_count = len(incorrect_answers)
    accuracy = ((total_questions - incorrect_count) / total_questions) * 100
    print(f"\nAccuracy: {accuracy:.2f}%")

display_incorrect_answers(csv_path)

,Question,Predicted Answer,Correct Answer
2,"We must assume that he is a Communist, because...",A,D
14,A water bed sells for $330 cash or $40 down an...,J,D
16,The team that wins in a tug-of-war is the team...,H,A
32,"In a circuit of two lamps in parallel, if the ...",H,B
37,Consider an arbitrage-free securities market m...,B,A
...,...,...,...
1127,The annular space between two concentricalumin...,B,D
1129,A 0.1 mm thick neutral density filter gives 70...,I,A
1130,"Air (100°F, 1atm) is flowing at a velocity of ...",A,I
1132,This question refers to the following informat...,A,C
1134,"Order the following (risk, return) pairs from ...",E,G

Showing first 300 rows out of 3271 incorrect answers.

Accuracy: 72.69%

In [13]:
import pandas as pd
from IPython.display import display

def check_correct_answers(csv_path):
    df = pd.read_csv(csv_path)
    
    correct_mismatches = df[(df['Is Correct'] == True) & (df['Predicted Answer'] != df['Correct Answer'])]
    
    if not correct_mismatches.empty:
        print("\nWarning: Some 'Is Correct' rows have mismatched answers!")
        display(correct_mismatches[['Question', 'Predicted Answer', 'Correct Answer', 'Is Correct']])
    else:
        print("\nAll 'Is Correct' rows have matching answers.")

 
check_correct_answers(csv_path)

All 'Is Correct' rows have matching answers.

In [19]:
def check_incorrect_answers(csv_path):
    df = pd.read_csv(csv_path)
    print("Incorrect Rows")
    correct_mismatches = df[(df['Predicted Answer'] != df['Correct Answer'])]
    display(correct_mismatches[['Question', 'Predicted Answer', 'Correct Answer', 'Is Correct']])

check_incorrect_answers(csv_path)

Incorrect Rows

,Question,Predicted Answer,Correct Answer,Is Correct
2,"We must assume that he is a Communist, because...",A,D,❌
14,A water bed sells for $330 cash or $40 down an...,J,D,❌
16,The team that wins in a tug-of-war is the team...,H,A,❌
32,"In a circuit of two lamps in parallel, if the ...",H,B,❌
37,Consider an arbitrage-free securities market m...,B,A,❌
...,...,...,...,...
11968,Four years ago the owner of a shopping center ...,I,E,❌
11972,An electrical current flows along a flat plate...,F,NaN,❌
11976,A recent law school graduate took and passed t...,B,A,❌
11977,LC oscillators are used for produce a waveform...,D,E,❌
11978,"A 50-hp, 500-volt shunt motor draws a line cur...",D,H,❌